.root {
    min-height: calc(100dvh - var(--header-height));
}

.parent {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--little-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100dvh - var(--header-height));
}

.tagContainer {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0
}

.container {
    padding: 8px;
    width: 100%;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.heading {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.searchButton {
    display: inline-block;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.searchIcon {
    font-size: 20px;
    color: var(--primary-color);
}

.subjectSearchContainer {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background-color: white;
    column-gap: 8px;
}

.subjectSearchInput {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.subjectList {
    column-gap: 8px;
}

.subjectListContainer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    overflow-x: auto;
    margin: 8px 0 24px 0;
}

.subject {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 8px;
    max-width: 320px;
    min-width: 150px;
    cursor: pointer;
}

.selectedSubject {
    border: 1px solid var(--primary-color);
}

.subjectName {
}

.emptyWrapper {
    display: flex;
    flex-direction: column;
    height: 76px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.emptyMessage {
    text-align: center;
}

.historyIcon, .chapterCountIcon, .questionCountIcon {
    font-size: 16px;
}

.historyIcon {
    color: var(--success-color);
}

.chapterCountIcon {
    color: var(--secondary-color);
}

.questionCountIcon {
    color: var(--info-color);
}

@media only screen and (max-width: 1024px) {
    .subjectSearchInput {
        width: 100px;
        font-size: 14px;
    }

    .searchButton {
        padding: 2px;
        border-radius: 2px;
    }
}