.body {
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.body > *:first-child {
    font-weight: 400;
    text-align: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.inputGroup + .inputGroup {
    margin-top: 16px;
}

.fieldLabel {
    font-size: 18px;
    font-weight: 500;
}

.textInput {
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    font-size: 20px;
    display: block;
    padding: 8px 16px;
    outline: none;
    border-radius: 8px;
}

.textInput:hover,
.textInput:focus, .textInput:focus-visible {
    border: 1px solid var(--primary-color);
    outline: none;
}

.registerButton {
    margin-top: 16px;
}

.errorMessage {
    font-size: 16px;
    margin-left: 16px;
    color: var(--primary-color);
}

@media only screen and (max-width: 1024px) {
    .body {
        padding: 0 12px 12px 12px;
    }

    .registerButton {
        height: 44px;
        font-size: 22px;
    }
}
