.root {
    min-height: calc(100dvh - var(--header-height));
}

.parent {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--little-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100dvh - var(--header-height));
}

.container {
    padding: 16px 8px;
    width: 100%;
}

.heading {
    margin-bottom: 32px;
}

.title {
    text-align: center;
}

.iconImage {
    display: flex;
    width: fit-content;
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 8px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.subjectImage {
    width: 180px;
    height: 180px;
}

.recommendPracticeList {
    margin-top: 32px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
}

.recommendPracticeList *[class *= 'heading'] {
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 500;
}

.recommendPracticeList *[class *= 'practiceListItem'] {
    border: 1px solid var(--light-grey-color);
}

.recommendPracticeList *[class *= 'practiceTitle'] {
    font-size: 15px;
    font-weight: 400;
}