.root {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 16px;
    justify-content: center;
    position: relative;
}

.root:hover {
    box-shadow: var(--shadow-primary);
    transform: translateY(-2px);
}

.fullWidth {
    width: 100%;
}

.root * {
    font-size: 20px;
}

.loadingIcon {
    position: absolute;
}

.buttonLabel.fetching {
    opacity: 0;
}