.root {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: var(--shadow-light);
}

.icon {
    color: var(--primary-color);
    font-size: 24px;
}