.root {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: var(--shadow-light);
    overflow: hidden;
    width: fit-content;
}

.subjectImage {
    width: 64px;
    height: 64px;
}

.icon {
    color: var(--primary-color);
    font-size: 24px;
}