.root {
    height: calc(100dvh - var(--header-height));
    position: relative;
    overflow-y: auto;
}

.parent {
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--little-grey-color);
    min-height: calc(100dvh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;
}

.tagContainer {
    padding: 16px 0;
    width: 100%;
    justify-self: flex-start;
}

.container {
    padding: 8px;
    width: 100%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--primary-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    padding: 16px 8px;
    text-align: center;
    color: var(--white);
    font-size: 18px;
}

.closeButton {
    padding: 4px 12px;
}

.practice {
    display: flex;
    column-gap: 16px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
}

.iconImage {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.practiceImage {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.practiceInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.practiceConfig {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
}

.root .practiceTitle {
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 500;
}

.practiceDescription {
    color: var(--dark-grey-color);
    margin: 4px 0;
    font-size: 14px;
}

.practiceAuthor {
    margin-bottom: 12px;
}

.practiceInfoContainer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.numberContainer {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    text-align: center;
    align-items: center;
}

.number {
}

.colorGray {
    color: var(--dark-grey-color)
}

.practiceList {
    margin-top: 16px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
}

.practiceList *[class *= 'heading'] {
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 500;
}

.practiceList *[class *= 'practiceListItem'] {
    border: 1px solid var(--light-grey-color);
}

.practiceList *[class *= 'practiceTitle'] {
    font-size: 15px;
    font-weight: 400;
}

.actionContainer {
    background-color: var(--tertiary-color);
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.startButton {

}

.previewButton {
    background-color: var(--grey-color);
}

.startButton span, .previewButton span {
    font-size: 16px;
}

.configContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.configItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.configLabel {
}

.chapterConfigItem {
    width: 100%;
}

.chapterListContainer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin-top: 8px;
    overflow-x: auto;
}

.questionRangeConfigItem {
    width: 100%;
}

.questionRangeListContainer {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin-top: 8px;
    overflow-y: auto;
    width: 100%;
}

.borderPrimary {
    border: 1px solid var(--primary-color) !important;
}

.colorPrimary {
    color: var(--primary-color);
}

.chapter {
    min-width: 200px;
    max-width: 300px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--grey-color);
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: space-between;
    cursor: pointer;
}

.chapterTitle {
}

.chapterNumberOfQuestion {
}

.questionRange {
    max-width: 200px;
    min-width: max-content;
    width: max-content;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--grey-color);
    cursor: pointer;
}

.questionRangeLabel {
    display: block;
    min-width: fit-content;
}

.emptyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.practiceTimeContainer {
    margin-top: 8px;
    margin-bottom: 16px;
}

.historyIcon, .chapterCountIcon, .questionCountIcon, .chapterQuestionCountIcon {
    font-size: 16px;
}

.historyIcon {
    color: var(--success-color);
}

.chapterCountIcon {
    color: var(--secondary-color);
}

.questionCountIcon {
    color: var(--info-color);
}

select {
    background-color: var(--tertiary-color);
    padding: 8px 4px;
    border: 1px solid var(--primary-color);
    font-size: 15px;
    border-radius: 6px;
}

.chapterDescription {

}

.chapterDescriptionTitle {
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .practiceInfo {
        column-gap: 6px;
    }

    .numberContainer {
        column-gap: 4px;
    }

    .number {
        font-size: 13px;
    }
}