.answerUnselect, .rightMissingAnswerIcon, .rightAnswerIcon, .wrongAnswerIcon, .answerSelectedIcon, .answerUnselectIcon {
    font-size: 20px;
}

.answerUnselect {

}

.rightMissingAnswerIcon {
    color: var(--info-color);
}

.rightAnswerIcon {
    color: var(--success-color);
}

.wrongAnswerIcon {
    color: var(--primary-color);
    font-size: 24px;
    transform: translateX(-2px);
    margin-right: -4px;
}

.answerSelectedIcon {
    color: var(--secondary-color);
}

.answerUnselectIcon {

}

.squareUncheck {
    font-size: 20px;
}