.root {

}

.heading {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.practiceList {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 8px 0;
}

.practiceListItem {
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    column-gap: 16px;
}

.iconImage {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.practiceImage {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.practiceInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.practiceListItem * {
    color: var(--black);
}

.practiceTitle {
    font-weight: 500;
    font-size: 16px;
}

.practiceDescription {
    color: var(--dark-grey-color);
    margin: 4px 0;
}

.practiceInfoContainer {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.numberContainer {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    text-align: center;
    align-items: center;
}

.number {
}

.emptyWrapper {
    display: flex;
    flex-direction: column;
    height: 76px;
    justify-content: center;
    align-items: center;
}

.emptyMessage {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .practiceInfo {
        column-gap: 6px;
    }

    .numberContainer {
        column-gap: 4px;
    }

    .number {
        font-size: 13px;
    }
}

@media only screen and (max-width: 638px) {
    .iconImage {
        width: 64px;
        height: 64px;
        overflow: hidden;
    }

    .practiceImage {
        width: 64px;
        height: 64px;
        border-radius: 8px;
    }
}