.practiceTimeList {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.emptyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.loadHistoryButton {
    padding: 8px 16px;
}

.loadHistoryButton span {
    font-size: 16px;
}